<h1 class="text-center">HOME</h1>
<div class="row d-flex gap-3">
    <div class="card" style="width: 18rem;">
        <img src="/assets/Knight1.png" class="card-img-top" alt="...">
        <div class="card-body">
            <div class="text-center">
                <h5 class="card-title">Hollow Knight</h5>
                <p class="card-text">Hollow Knight: Um épico Metroidvania 2D. Explore um vasto mundo de insetos, domine
                    combates desafiadores e descubra os segredos sombrios do reino caído de Hallownest.</p>
                <a href="#" class="btn btn-outline-dark">Saiba mais...</a>
            </div>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="/assets/Hornet.png" class="card-img-top" height="240px" alt="...">
        <div class="card-body">
            <div class="text-center">
                <h5 class="card-title">Silk Song</h5>
                <p class="card-text">você joga como Hornet. Use sua agilidade letal e ferramentas para sobreviver a um novo e vasto reino, repleto de chefes desafiadores e segredos antigos. O teste final de habilidade da Team Cherry.</p>
                <a href="#" class="btn btn-outline-dark">Saiba mais...</a>
            </div>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="/assets/rocketLogo.png" class="card-img-top" height="240px" alt="...">
        <div class="card-body">
            <div class="text-center">
                <h5 class="card-title">Rocket League</h5>
                <p class="card-text">você joga como Hornet. Use sua agilidade letal e ferramentas para sobreviver a um novo e vasto reino, repleto de chefes desafiadores e segredos antigos. O teste final de habilidade da Team Cherry.</p>
                <a href="#" class="btn btn-outline-dark">Saiba mais...</a>
            </div>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="/assets/fifaLogo.png" class="card-img-top" height="240px" alt="...">
        <div class="card-body">
            <div class="text-center">
                <h5 class="card-title">EA Sports</h5>
                <p class="card-text">você joga como Hornet. Use sua agilidade letal e ferramentas para sobreviver a um novo e vasto reino, repleto de chefes desafiadores e segredos antigos. O teste final de habilidade da Team Cherry.</p>
                <a href="#" class="btn btn-outline-dark">Saiba mais...</a>
            </div>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="/assets/Hornet.png" class="card-img-top" height="240px" alt="...">
        <div class="card-body">
            <div class="text-center">
                <h5 class="card-title">Silk Song</h5>
                <p class="card-text">você joga como Hornet. Use sua agilidade letal e ferramentas para sobreviver a um novo e vasto reino, repleto de chefes desafiadores e segredos antigos. O teste final de habilidade da Team Cherry.</p>
                <a href="#" class="btn btn-outline-dark">Saiba mais...</a>
            </div>
        </div>
    </div>
</div>